<footer class="bg-dark text-white text-center py-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Cash Compass</h5>
        <p>&copy; 2024 Cash Compass. All rights reserved.</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Repositories</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/brettfritz/cash-compass" class="text-white">Cash Compass</a></li>
          <li><a href="https://github.com/brettfritz?tab=repositories" class="text-white">Brett Fritz</a></li>
          <li><a href="https://github.com/brenj23?tab=repositories" class="text-white">Bren Broussard</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: <a href="mailto:contact@cashcompass.com" class="text-white">contact@cashcompass.com</a></p>
      </div>
    </div>
  </div>
</footer>
