html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/loggedOutHomeBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 0.5 transparency */
}

.navbar-brand {
  color: white; /* White text color for navbar brand */
  font-size: 60px;
}

.navbar-toggler-icon {
  background-color: white; /* White color for navbar toggler icon */
}

.navbar-nav .nav-link {
  color: white; /* White color for navbar links */
}

.navbar-nav .nav-link:hover {
  color: #ffc107; /* Yellow color for navbar links on hover */
}

#logout {
  background-color: #dc3545; /* Red color for logout button */
  color: white; /* White text color for logout button */
}

#logout:hover {
  background-color: #c82333; /* Darker red color for logout button on hover */
}

