html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/loggedOutHomeBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-area {
  max-width: 400px;
}

/* Adjust the size of the main Cash Compass text */
.navbar-brand {
  font-size: 2.5rem; /* Adjust the font size as needed */
  color: #fff; /* Set text color to white */
}

/* Adjust the background color and opacity of the primary button */
.btn-primary {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

/* Adjust the background color and opacity of the navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px); /* Apply a blur effect for better translucency */
  opacity: 0.5;
}

